<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/4e120f7b-3bc6-4549-9984-c64b00e21d18/resourcegroups/agnihotrik10b4f2/providers/Microsoft.Web/sites/CoreOnLinux20180328112050</ResourceId>
    <ContainerResourceId>/subscriptions/4e120f7b-3bc6-4549-9984-c64b00e21d18/resourcegroups/agnihotrik10b4f2/providers/Microsoft.ContainerRegistry/registries/registry20180328112056</ContainerResourceId>
    <ContainerResourceName>registry20180328112056</ContainerResourceName>
    <ResourceGroup>agnihotrik10b4f2</ResourceGroup>
    <Subscription>Visual Studio Enterprise</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20180328112056.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://coreonlinux20180328112050.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8c15ce4c-239f-4b62-80cf-53a4ca77154b</ProjectGuid>
  </PropertyGroup>
</Project>